#dragged
{
	z-index: 50 !important;
}
#editor
{
	flex-grow: 1;

	font-size: 0; /* Avoids inline spaces */
	overflow: auto;
	padding: 0.5rem;
	display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	justify-content: flex-start;
	align-content: flex-start;
	align-items: flex-start;
	position: relative;
}
#editor > *
{
	flex: none;
}
#trash
{
	position: absolute;
	right: 0.5rem;
	bottom: 0.5rem;
	z-index: 11; /* Always on top of hoppers (z-index = 10) */

    width: 3rem;
    height: 3rem;

	background: #5CC url(../images/garbage21.svg) no-repeat center;
	background-size: 2rem;
    border: 0.1rem solid #244;
    border-radius: 0.2rem;
}

.item
{
	position: relative;
	box-sizing: border-box;

	min-width: 10rem;
	display: inline-block;
	padding: 0.5rem;
	overflow: visible;
	box-shadow: 0 0 0 0.1rem rgba(0, 0, 0, 0.3) inset;
}
.item > p
{
	display: inline-block;
	height: 1rem;
	font-size: 1rem;
	white-space: nowrap;
	margin: -0.3rem 0.5rem 0;
}

#editor .item
{
	border-radius: 0.6rem;
}


#editor .hopper
{
	position: relative;
	display: block;
    align-self: stretch;
	height: 0;
	margin: -1rem 0;
	border-top: 1rem solid transparent;
	border-bottom: 1rem solid transparent;
	transition: height 0.15s;

	z-index: -1;
}
#editor[data-dragging] .hopper
{
	z-index: 10 !important;
}
#editor .hopper[data-hover]
{
	height: 1rem;
}
#editor .hopper[data-adding]
{
	transition: none !important;
}
#editor > .hopper:first-child
{
	margin-top: -0.5rem;
	border-top-width: 0.5rem;
}
#editor > .hopper:last-child
{
	margin-bottom: 0;
	border-bottom: none;
	height: 0;
	flex-grow: 1 !important;
}
#editor .item > .hopper:first-of-type
{
	height: 0.5rem;
	border-top: 0.3rem solid transparent !important;
	margin-top: -0.3rem !important;

	border-bottom: 1rem solid transparent;
	margin-bottom: -1rem;
}
#editor .item > .hopper[data-hover]:first-of-type
{
	height: 1.5rem !important;
}
#editor .item > .hopper:last-child
{
	height: 1.5rem;
	border-bottom: none !important;
	margin-bottom: 0.5rem !important;
}
#editor .item > .hopper[data-hover]:last-child
{
	height: 2.5rem !important;
}
#editor .item[data-output] + .hopper
{
	margin-top: -0.5rem;
	border-top: 0.5rem solid transparent;
}
#editor .item[data-friendly]
{
	border-bottom-right-radius: 0.2rem !important;
	border-bottom-left-radius: 0 !important;
}
#editor .item[data-friendly] + .hopper + .item
{
	border-top-right-radius: 0.2rem !important;
	border-top-left-radius: 0 !important;
}