*
{
	/* default cursor in every case. May be changed in some other cases */
	cursor: default;

	/* Avoid selection (usig drag so it's a big thing) */
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	
	z-index: 0;
}

/* Exeptions to the select avoid */
textarea, input[type="text"], .allowSelect
{
	-webkit-touch-callout: text;
	-webkit-user-select: text;
	-khtml-user-select: text;
	-moz-user-select: text;
	-ms-user-select: text;
	user-select: text;
}

html, body
{
	height: 100%;
	width: 100%;
	padding: 0;
	margin: 0;

	font-family: Arial;
	font-size: 16px;
	color: black;

	font-family: Arial;
	font-size: 16px;
}

body
{
	display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	justify-content: flex-start;
	align-content: flex-start;
	align-items: stretch;
}
body > *
{
	flex: none;
}
body > *, body > * > div /* The different spacers that make the layout */
{
	box-sizing: border-box;
}

input[type="button"]
{
	height: 1.5rem;
    background: none;
    background-color: #5CC;
    border-radius: 0.2rem;
    border: 0.1rem solid #244;
    flex: none;
}
input[type="button"]:hover
{
    background-color: #7DD;
}
input[type="button"]:active
{
	background-color: #399;
}

#top
{
	height: 3rem;
	background-color: #999;
	border-bottom: 0.1rem solid #333;
	padding: 0.75rem 0.375rem 0.65rem 0.75rem; /* 0.75rem but the right have the 0.375 from the inside margin and the bottom has the 0.1rem of border */
	display: flex;
	flex-wrap: nowrap;
	overflow-x: auto;
	overflow-y: hidden; /* In case that the horitzontal var appears it doesn't overflow vertically */
}
#top > *
{
	margin-right: 0.375rem;
}

#top > .spacer
{
	min-width: 0;
	height: 0;
	margin: 0;
	padding: 0;
	flex-grow: 1;
}

main
{
	display: flex;
	flex-grow: 1;
	max-height: calc(100% - 3rem); /* Avoids overgrowing */
}


#files
{
	width: 15%;
	overflow: auto;
	background-color: #DDD;
	border-right: 0.1rem solid #777;
}
#tools
{
	width: 20%;
	padding: 0.5rem;
	overflow: auto;
	background-color: #EEE;
	border-left: 0.1rem solid #777;

	display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	align-items: flex-start;
}
#tools > *
{
	flex: none;
}


/* Popups */
#popups > div
{
	display: none;
}
#popups > div > .content
{

}