*
{
	/* default cursor in every case. May be changed in some other cases */
	cursor: default;

	/* Avoid selection (usig drag so it's a big thing) */
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	
	z-index: 0;
}

/* Exeptions to the select avoid */
input, .allowSelect
{
	-webkit-touch-callout: text;
	-webkit-user-select: text;
	-khtml-user-select: text;
	-moz-user-select: text;
	-ms-user-select: text;
	user-select: text;
}

html, body
{
	height: 100%;
	width: 100%;
	padding: 0;
	margin: 0;

	font-family: Arial;
	font-size: 16px;
	color: black;

	font-family: Arial;
	font-size: 16px;
}

body
{
	display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	justify-content: flex-start;
	align-content: flex-start;
	align-items: stretch;
}
body > div, body > div > div /* The different spacers that make the layout */
{
	box-sizing: border-box;
}

#top
{
	height: 3rem;
	background-color: #999;
	border-bottom: 0.1rem solid #333;
}
#top input[type=button]
{

}

#bot
{
	display: flex;
	flex-grow: 1;
}
#files
{
	width: 15%;
	overflow: auto;
	background-color: #DDD;
	border-right: 0.1rem solid #777;
}
#tools
{
	width: 20%;
	padding: 0.5rem;
	overflow-x: hidden;
	overflow-y: auto;
	background-color: #EEE;
	border-left: 0.1rem solid #777;
}